/* 2-HydratingIngredientsSelector.module.css */

.container {
  display: flex;
  flex-direction:column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background-color);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.backButton {
  cursor: pointer;
}

.progress {
  font-size: 1rem;
  color: var(--text-color);
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 1rem 0;
}

.subheading {
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3rem;
}

.options {
  width: auto;
  display: flex;
  flex-direction: column;
}

.option {
  background-color: var(--primary-color); /* Default state color */
  color: var(--text-color);
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid transparent; /* For hover and selected state */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionSelected {
  border-color: var(--accent-color); /* Border color for selected item */
}

.optionImage {
  height: 80px;
  width: 80px;
  margin-right: 1rem;
  background-size: cover;
  border-radius: 50%;
}

.optionLabel {
  flex-grow: 1;
  font-size: 1.25rem;
  /* Additional label styling */
}

.checkbox {
  /* Hidden checkbox styling */
  opacity: 0;
  position: absolute;
}

.checkmark {
  /* Custom checkmark styling */
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--accent-color);
  border-radius: 50%;
  position: relative;
}

/* Example pseudo-element for a custom checkmark symbol */
.checkmark::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.buttonContainer {
  display:grid;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
}

.continueButton, .skipButton {
  padding: 20px 150px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continueButton {
  background-color: #E2C47C;
  color: white;
}
.skipButton {
  background-color: var(--button-bg-color);
  border: var(--text-color);
  border-style: ridge;
  color: var(--text-color);
}

.skipButton:hover {
  background-color: var(--button-bg-hover-color);
}

.checkbox {
  margin-right: 10px; /* Add space between checkbox and label */
}

.optionText {
  flex-grow: 1; /* Ensure the label takes up the remaining space */
}

.optionImage {
  width: 50px; /* Example width, adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between label and image */
}

@media (max-width: 768px) {
  .option {
    flex-direction: column;
    align-items: flex-start;
  }

  .optionImage {
    margin-bottom: 1rem;
  }
}