/* styles/7-SkincareExperienceQuestion.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #021e3e;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .option {
    background-color: #97a0b2;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .optionSelected {
    background-color: #adb5bd;
  }
  
  .checkbox {
    margin-right: 1rem;
  }
  
  .submissionMessage {
    color: #adb5bd;
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: none;
  }
  
  .buttonContainer {
    display:grid;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
  }
  
  .continueButton, .skipButton {
    padding: 20px 150px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .continueButton {
    background-color: #E2C47C;
    color: white;
  }
  .skipButton {
    background-color: var(--button-bg-color);
    border: var(--text-color);
    border-style: ridge;
    color: var(--text-color);
  }
  
  .skipButton:hover {
    background-color: var(--button-bg-hover-color);
  }

  
  
  @media (max-width: 768px) {
    .option {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .optionImage {
      margin-bottom: 1rem;
    }
  }
  
  