/* styles/globals.css */

/* Import Work Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

/* Define custom properties (variables) here */
:root {
  --primary-color: #556479; /* Default state for options */
  --secondary-color: #394A62; /* Hover state for options */
  --accent-color: #E2C47C; /* Active state for buttons and selected options */
  --background-color: #011a37; /* Background color */
  --text-color: #f2f2f2; /* Text color */

  --font-size-h1: 40px;
  --line-height-h1: 46px;

  --font-size-h2: 25px;
  --line-height-h2: 29px;

  --font-size-h3: 20px;
  --line-height-h3: 24px;

  --font-size-body: 16px;
  --line-height-body: 25px;

  --font-size-disclaimer: 12px;
  --line-height-disclaimer: 18px;

  --font-family: 'Work Sans', sans-serif; /* Font family with a fallback */
}

/* Global styles */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: 600; /* Semibold */
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: 600; /* Semibold */
}

p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.disclaimer {
  font-size: var(--font-size-disclaimer);
  line-height: var(--line-height-disclaimer);
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 4rem;
}

.leftPanel, .rightPanel {
  flex-basis: 50%;
  padding: 2rem;
}

.rightPanel {
  background-color: var(--primary-color);
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

/* Answer Options */
.option {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.option:hover {
  background-color: var(--secondary-color);
}

.option.selected {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

/* Buttons */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.continueButton {
  background-color: var(--accent-color);
  color: white;
  opacity: 0.6;
}

.continueButton.active {
  opacity: 1;
}

.skipButton {
  background-color: transparent;
  color: var(--text-color);
}

/* Progress Bar */
.progress-bar {
  height: 20px;
  background-color: var(--accent-color);
  width: 25%;
}

/* Mobile Width */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    width: 335px;
    margin: auto;
  }
}
